{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["> 1%", "not ie <= 8"]
        },
        "useBuiltIns": "usage",
        "shippedProposals": true,
        "corejs": 3
      }
    ],
    "@babel/preset-react"
  ]
}
